<div class="container text-white">
    <div class="row">
    <div class="col"></div>
    
    <div class="card card-align  bg-dark mt-5">
    
    <div class="card-header bg-dark text-white"><h3 >Sign-in</h3></div>
    <div class="card-body">
    <form #registerForm = "ngForm">
    <div class="form-row text-white">
        <div class="col text-white">
        <label for="username">Username</label>
        <input type="text" class="form-control" id="username" placeholder="Enter Username"  [(ngModel)]="username" name="user" required/>
      </div>
      <div class="col">
        <label for="pwd">Password</label>
        <input type="password" class="form-control" id="pwd" placeholder="Enter password"  [(ngModel)]="password"name="password" required/> 
      </div>
    </div>
      <div class="form-group text-white">
        <label for="">Company Name</label>
        <input type="company name" class="form-control" id="company name" placeholder="Enter Company Name"  [(ngModel)]="company"name="Company Name" required/>
      </div>
     
      <div class="form-group text-white">
        <label for="">GSTIN</label>
        <input type="GSTIN" class="form-control" id="GSTIN" placeholder="Enter GSTIN"[(ngModel)]="gst" name="GSTIN" required/>
      </div>
      <div class="form-group text-white">
        <label for="">Address</label>
        <input type="Address" class="form-control" id="Address" placeholder="Enter Address"[(ngModel)]="address" name="Address" required/>
      </div>
      <div class="form-group text-white">
        <label for="">Website</label>
        <input type="Website" class="form-control" id="Website" placeholder="Enter Website"[(ngModel)]="website" name="Website" required/>
      </div>
      <div class="form-group text-white">
        <label for="">Email</label>
        <input type="email" class="form-control" id="email" placeholder="Enter Email" [(ngModel)]="email"name="email" required/>
      </div>
       <div class="form-group text-white">
        <label for="">Brief About Company</label>
        <input type="Brief About Company" class="form-control" id="Brief About Company" placeholder="Enter Brief About Company" [(ngModel)]="brief"name="Brief About Company" required/>
      </div>
      <div class="form-group text-white">
        <label for="">Mobile Number</label>
        <input type="tel" class="form-control" id="Mobile Number" placeholder="Enter Mobile Number" name="mobile number" [(ngModel)]="contact"pattern="^\d{10}$" required/>
      </div>
      <button type="submit" class="btn btn-primary" (click)="addSeller() " [disabled] = '!registerForm.valid'>Register</button>&nbsp;
      <label >Already have an account?</label>
      <a routerLink="/login">login</a>
      </form>
      </div>
      </div>
     
      <div class="col"></div>
      </div>
      </div>